/* .ActionButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action{
    padding: 0;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    right: 3%;
    bottom: 5%;
    color: white;
    background-color: rgba(111,191,171,0.7);
    font-size: 13px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
} */

/* .ActionButton{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    padding: 0;

    right: 3%;
    bottom: 5%;

    
} */

.action{
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(111,191,171,0.7);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    padding: 0;
    right: 3%;
    bottom: 5%;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action:hover{
    background-color: #70BEAA;
    opacity: 1;
    color: white;
    cursor: pointer; /* Add a pointer on hover */
}

@media (min-width: 481px) and (max-width: 767px) {
    .action{
        height: 85px;
        width: 85px;
        margin: 0 10px;
        font-size: 13px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .action{
        padding: 10px;
        height: 70px;
        width: 70px;
        font-size: 12px;
    }
  }