.WorkGroup{
    margin-top: 50px; 
}

.top{
    display: flex;
    flex-direction: column;
}

.five{
    background: #4FC2AA;
    display: inline;
    font-size: 18px;
    text-align: center;
    line-height: 1.6; 
}

.five-content{
    margin: 10px;
}

.five-content h1{
    font-weight: lighter;
    color: white;
    margin: 0;
}

.five-content p{
    color: white;
    font-weight: lighter;
}

.five-content hr{
    width: 50px;
    display: block;
    border: 3px solid white;
    border-radius: 3px;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.bottom .one-content{
    margin: 10px;
}

.bottom .one{
    display: inline;;
    background: rgb(255,255,255);
    line-height: 1.6;
}

.bottom h1{
    font-weight: lighter;
    text-align: center;
    color: #4FC2AA;
    margin: 0;
}

.bottom hr{
    width: 50px;
    display: block;
    border: 3px solid #4FC2AA;
    border-radius: 3px;
}

.bottom p{
    text-align: center;
    color: #7F7F7F;
    font-size: 18px;
    font-weight: lighter;
}

.bottom .fourG{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 400px;
    /* background: url(../images/about-resize.jpg) center center; */
    /* background: url(../../images/lg_about.jpg) center center; */
    background-size: cover;
    background-position: 0 20%;
}

.workBottom{
    display: flex;
}

.work2G{
    height: 400px;
    flex-basis: 50%;
    /* background: url(../../images/lg_about_2.1.jpg) center center; */
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.work3G{
    height: 400px;
    flex-basis: 50%;
    /* background: url(../../images/lg_about_3.jpg) center center; */
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {    
    .top{
        display: flex;
        flex-direction: row;
        /* height: 400px; */
    }
            
    .five{
        flex-basis: 50%;
        background: #4FC2AA;
        display: inline;
        font-size: 18px;
        text-align: center;
        line-height: 1.6;
    }
                
    .five-content{
        margin: 50px;
    }
                    
    .five-content h1{
        font-weight: lighter;
        color: white;
        margin: 0;
    }

    .five-content p{
        color: white;
        font-weight: lighter;
    }
                    
    .five-content hr{
        width: 50px;
        display: block;
        border: 3px solid white;
        border-radius: 3px;
    }       
            
    .twoG{
        flex-basis: 25%;
        /* background: url(../../images/lg_about_2.1.jpg) center center; */
        /* background-position: center center;
        background-size: cover; */
    }

    .threeG{
        flex-basis: 25%;
        /* background: url(../../images/lg_about_3.jpg) center center; */
        /* background-size: cover; */
    }
      
    .bottom{
        display: flex;
        flex-direction: row;
        height: 500px;
    }
            
    .bottom .one-content{
        margin: 50px;
    }
            
    .bottom .one{
        flex-basis: 50%;
        display: inline;;
        background: rgb(255,255,255);
        line-height: 1.6;
    }
                
    .bottom h1{
        font-weight: lighter;
        text-align: center;
        color: #4FC2AA;
        margin: 0;
    }

    .bottom hr{
        width: 50px;
        display: block;
        border: 3px solid #4FC2AA;
        border-radius: 3px;
    }

    .bottom p{
        text-align: center;
        color: #7F7F7F;
        font-size: 18px;
        font-weight: lighter;
    }
           
    .bottom .fourG{
        height: 500px;
        flex-basis: 50%;
        /* background: url(../images/about-resize.jpg) center center; */
        /* background-size: cover;
        background-position: 0 35%; */
    }

    /* .work2G{
        display: none;
    }

    .work3G{
        display: none;
    } */
}

@media (min-width: 320px) and (max-width: 767px) {
    .WorkGroup{
        margin-top: 20px;
    }

    .twoG{
        display: none;
    }
    
    .threeG{
        display: none;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
