.aboutSection{
    /* margin: 0 auto;
    padding-left: 0;
    width: 1200px;
    text-align: center; */
    /* background: pink; */
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-items: center; */
}

