/* .panel .panel-body{
    display: none;
}

.is-expanded .panel-body{
  display: block;
} */

/* //Simple CSS transition of max-height */
/* .panel .panel-collapse{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.525, 0.66, 0.495, 1.4)
}

.is-expanded .panel-collapse{
    max-height: 200px;
} */

/* JS calculated height - most accurate */
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panel .panel-heading{
    cursor: pointer;
}

.has-margin{
    margin-bottom: 50px;
}

.panel .panel-collapse{
    /* display: inline-block; */
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.panel .panel-body {
    box-sizing: border-box;
    border-top: 1px solid #787975;
    border-bottom: 1px solid #787975;
    padding: 20px 0;
    /* border: none !important; */
    /* margin-bottom: 20px; */
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0 5px;
}

.aboutTitleWrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.aboutTitle{
    width: 80%;
    font-family: lighter;
    margin-top: 50px;
    color:  #4FC2AA;
    text-align: center;
    border-top: 1px solid #787975;
    border-bottom: 1px solid #787975;
    padding:2% 0 2% 0;
  }

.CardGroup{
    margin-top: 20px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    width: 33.333%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.CardGroup:hover {
    transform: scale(1.1, 1.1);
    /* margin-bottom: 20px; */
    /* box-shadow: 0 30px 60px rgba(0,0,0, 0.5); */
}

.CardGroup h3{
    font-size: 18px;
}

.CardGroup h3,h6 {
    color: #787975;
    margin: 0;
}

.Card{
    z-index: 1;
    margin: 20px 0;
    width: 250px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* .CardGroup:nth-child(6){
    background: blue;
    width: 100%;
    flex-basis: 100%;
} */

/* .Card:hover > .overlay {
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.6;
    z-index: 100;
} */

.CardGroup img {
    position: absolute;
    top: 0;
    height: 110%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.CardGroup:hover img {
    /* -webkit-transform: translateY(-20px); */
    transform: translateY(-15px);
    cursor: pointer; /* Add a pointer on hover */
}

/* .CardGroup:focus {
    margin-bottom: 200px;
} */

@media (min-width: 320px) and (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .CardGroup{
        width: 50%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {

}



