/* .CardList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} */
/* .tester{
    display: flex;
} */

.aboutTitleWrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.aboutTitle{
    width: 80%;
    font-family: lighter;
    margin: 50px;
    color:  #4FC2AA;
    text-align: center;
    border-top: 1px solid #787975;
    border-bottom: 1px solid #787975;
    padding:2% 0 2% 0;
  }

.Card{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 180px;
    height: 280px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Card img {
    position: absolute;
    top: 0;
    height: 110%;
    z-index: -1;
}

.CardGroup{
    flex: 0 0 20%
}

.CardGroup h3{
    font-size: 18px;
}

.CardGroup h3,h6 {
    margin: 0;
}

