.action{
    padding: 0;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    right: 3%;
    bottom: 5%;
    color: white;
    background-color: rgba(111,191,171,0.7);
    font-size: 13px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}

.action:hover{
    background-color: #70BEAA;
    opacity: 1;
    color: white;
}