.nav-section{
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-section .active{
    color: #4FC2AA;
}

.menu-toggle{
    padding: 1em;
    position: absolute;
    top: .2em;
    right: .2em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #7F7F7F;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 350ms;
}
            
.hamburger::before{
    transform: translateY(-6px);
}

.hamburger::after{
    transform: translateY(3px);
}

.site-nav{
    float: right;
    background: white;
    position: absolute;
    top: 100%;
    right: 0%;
    height: 0px;
    z-index: 100;

    transition: height 0.3s ease-out;
    overflow: hidden;
}

.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    
.site-nav li{
    border-bottom: 1px solid #575766;
}
    
.site-nav li:last-child{
    border-bottom: none;
}

.site-nav a{
    text-decoration:none;
    display: block;
    padding: 2em 6em;
    color: #7F7F7F;
}

.site-nav a:hover{
    color: #4FC2AA; 
}

/* .site-nav a:hover,
.site-nav a:focus {
    background: #E4B363;
} */

.site-nav--open{
    height: 430px;
}

.open .hamburger{
    transform: rotate(45deg);
}

.open .hamburger::before{
    opacity: 0;
}

.open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}

/* .menu-toggle{
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.site-nav{
    float: right;
    background: white;
    position: absolute;
    top: 100%;
    right: 0%;
    height: 0px;
    overflow: hidden;
} */

@media (min-width: 1025px){
    .nav-section{
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
        background: #F6F3EB;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    }

    .NavScrolled{
        background: rgba(120, 121, 117, 0.8);
        backdrop-filter: blur(20px);
        padding: 15px 0;
    }

    /* .NavScrolled .active{
        color: #4FC2AA;
    } */

    .nav-container{
        list-style: none;
        display: flex;
        padding: 20px 10px;
    }

    .menu-toggle{
        display: none;
    }

    .site-nav{
        float: right;
        background: transparent;
        position: relative;
        height: auto;
    }

    .site-nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .site-nav li{
        display: inline-block;
        border: none;
    }

    .site-nav li:last-child{
        border-bottom: none;
    }

    .site-nav a{
        text-decoration:none;
        padding: 0 4.3em;
        color: #7F7F7F;
    }

    .NavScrolled a{
        color: white;
    }

    .site-nav a:hover{
        color: #4FC2AA;
    }
}