.top{
    display: flex;
    flex-direction: column;
}

.five{
    background: #4FC2AA;
    display: inline;
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}

.five-content{
    margin: 10px;
}

.five-content h1{
    font-weight: lighter;
    color: white;
    margin: 0;
}

.five-content p{
    color: white;
    font-weight: lighter;
}

.five-content hr{
    width: 50px;
    display: block;
    border: 3px solid white;
    border-radius: 3px;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.bottom .one-content{
    margin: 10px;
}

.bottom .one{
    display: inline;;
    background: rgb(255,255,255);
    line-height: 1.6;
}

.bottom h1{
    font-weight: lighter;
    text-align: center;
    color: #4FC2AA;
    margin: 0;
}

.bottom hr{
    width: 50px;
    display: block;
    border: 3px solid #4FC2AA;
    border-radius: 3px;
}

.bottom p{
    text-align: center;
    color: #7F7F7F;
    font-size: 18px;
    font-weight: lighter;
}

.bottom .four{
    height: 400px;
    background: url(../images/about-resize.jpg) center center;
    background-size: cover;
    background-position: 0 20%;
}

@media (min-width: 768px) {
    .WorkGroup{
        margin: 0;
    }
        
    .top{
        display: flex;
        flex-direction: row;
        height: 400px;
    }
            
    .five{
        flex-basis: 50%;
        background: #4FC2AA;
        display: inline;
        font-size: 18px;
        text-align: center;
        line-height: 1.6;
    }
                
    .five-content{
        margin: 50px;
    }
                    
    .five-content h1{
        font-weight: lighter;
        color: white;
        margin: 0;
    }

    .five-content p{
        color: white;
        font-weight: lighter;
    }
                    
    .five-content hr{
        width: 50px;
        display: block;
        border: 3px solid white;
        border-radius: 3px;
    }       
            
    .two{
        flex-basis: 25%;
        background: url(../images/lg_about_2.1.jpg) center center;
        background-size: cover;
    }

    .three{
        flex-basis: 25%;
        background: url(../images/lg_about_3.jpg) center center;
        background-size: cover;
    }
      
    .bottom{
        display: flex;
        flex-direction: row;
        height: 500px;
    }
            
    .bottom .one-content{
        margin: 50px;
    }
            
    .bottom .one{
        flex-basis: 50%;
        display: inline;;
        background: rgb(255,255,255);
        line-height: 1.6;
    }
                
    .bottom h1{
        font-weight: lighter;
        text-align: center;
        color: #4FC2AA;
        margin: 0;
    }

    .bottom hr{
        width: 50px;
        display: block;
        border: 3px solid #4FC2AA;
        border-radius: 3px;
    }

    .bottom p{
        text-align: center;
        color: #7F7F7F;
        font-size: 18px;
        font-weight: lighter;
    }
           
    .bottom .four{
        height: 500px;
        flex-basis: 50%;
        background: url(../images/about-resize.jpg) center center;
        background-size: cover;
        background-position: 0 35%;
    }
}


@media (min-width: 1025px){
    .WorkGroup{
        margin-top: 50px;
    }
}
