.FooterGroup{
    display: flex;
    align-items: center;
    background: #4FC2AA;
    /* margin: 50px 0; */
    /* margin-bottom: 0; */
    height: 100%;
    padding: 20px;
    color: white;
    font-weight: lighter;
}
    
.FooterGroup p{
    padding-left: 25px;
    font-size: 12px;
    margin: 0.3em;
}

@media (min-width: 1025px) {
   .FooterGroup{
        /* margin-top: 20px; */
        height: 100%;
        padding: 25px;
   }
        
   .FooterGroup p{
        font-size: 13px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .FooterGroup{
        margin-top: 20px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .FooterGroup{
        margin-top: 20px;
    }
  }


